@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*   essa função busca la no goggle fontes  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    /*essa função busca la no goggle fontes*/
}

body {
    display: flex;
    /*essa função posibilita flexbilizar um layout resposivo*/
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /*essa função faz com quer body com 100vh ocupe todo tela*/
    overflow: hidden;
    /*background: linear-gradient(to left, #3A438A, #443C9E, #1D1478, #5A5AE6, #28316B);/*essa função tem poder de pegar varias cores e fazer a troca gradativamente */
    background-image: url(../assets/bandeiaJuazeiro.jpg);
    background-size: 100% 100%;

    /*o atributo 'to bottom' faz com quer a cor comence a fazer a mudaçã de baixo para cima */
    position: relative;
    color: wheat;
}

img{
    position: absolute;
    display: inline-block;
    width: 10%;
    opacity: 40%;
}




 .formulario{
    width: 600px;
    height: 600px;
    background-color: rgb(51, 51, 146);
   border: 1px solid rgb(255, 255, 255, 0.2);;
    backdrop-filter: blue 40px;
    backdrop-filter: 10px;/*diar a cor pouco mais clarinha de efeito*/
    box-shadow: 0 15px 32px rgba(0, 0, 0, 0.842);
    border-radius: 16px;
    padding: 35px;
  


 }

  .formulario h1{
    position: absolute;
    display: inline-block;
    font-size: 25px;
    margin-bottom: 30px;
    font-weight: 600;
    margin-left: 80%;
    margin-top: -5%;
    text-align: center;
    color: black;
 }

 .caixa-fornulario{
    position: relative ;
    margin-bottom: 30px;
                                                                      
 }

 .formulario input{
    width: 60%;
    display: block;
    margin-bottom: 15px;
    margin-left: 20%;
    height: 50px;
    border: none;
    border-radius: 10px;
    outline: none;
    color: #fff;
    background-color: rgba(13, 172, 97, 0.1);
    font-size: 16px;
    padding: 0 20px;
 }

 .formulario input::placeholder{/* essa função consigo trocar a cor do texto que esta no imput*/
    color: black;
    font-weight: bold;

}

.caixa-fornulario i{
    position: absolute;
    right: 20px;
    font-size: 20px;
    top: 25%;


}

.caixa-lembrar{
    display: flex;
    align-items: center;
    justify-content: space-between;/*espaçamente entre dois intes*/
    margin-bottom: 25px;
    font-size: 16px;


}



.caixa-lembrar a{
   text-decoration: none ;/*remove sublinhado abaixo do texto*/
    color:#fff;
    z-index: 2;
}

.caixa-lembrar input{
    accent-color: #372196;/*muda cor selecionada do check box*/
    display: flex;
    position: relative;
    z-index: 2;
    width: 15px;

}

.caixa-lembrar p{
   margin-left: -12%;
}

.caixa-lembrar a::hover{
    text-decoration: underline;/*marcar texto com linha a baixo do texto*/
}

button{
    display: inline-block;
    position: relative;
    top: 5px;
    width: 50%;
    height: 30px;
    left: 30%;
    border-radius: 7px;
    border: none;
    background-color: rgba(247, 238, 238, 0.205);
    outline: none;/*remover linha ao redor*/
    cursor: pointer;
    color: black;
    font-weight: bold;
    font-size: 15px;
    font-weight: 600;/*coloca um tom mais forte na cor*/
    
}

button:hover{
    background-color: yellow
}


.link-registro p{
    margin-top: 13px;
    margin-left: 30%;
    color: #fff;
}

.link-registro a{
    display: inline-block;
    position: absolute;
    margin-left: 22%;
    top: 82%;
    text-decoration: none;
    color: white;
    font-weight: bold;
    
}

.link-registro a:hover{
 color: yellow;
}



@media screen and (max-width:675px){
    .link-registro a{
        margin-left: 72%;
        margin-top: 1%;
  }

    
}